# Load data

In [5]:
import pandas as pd

news = pd.read_csv('./fake-news/train.csv')
columns = ['title', 'label']
news = news[columns]
news = news.dropna()

In [6]:
news.head()

                                               title  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  FLYNN: Hillary Clinton, Big Woman on Campus - ...      0
2                  Why the Truth Might Get You Fired      1
3  15 Civilians Killed In Single US Airstrike Hav...      1
4  Iranian woman jailed for fictional unpublished...      1

# 2. Data cleaning and preprocessing